@use "./variables" as *;

.dashboard-nav {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 10%;
  gap: 0.25rem;
  border-radius: 0.5rem;
  background-color: $primary-200;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 100%;
  font-size: 0.9em;

  .tab {
    width: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all 0.3s ease-in-out;
  }

  .tab:hover {
    background-color: $primary;
    transition: background-color 0.3s ease;
  }

  .active,
  .active:hover {
    background-color: $background;
    font-weight: 600;
  }
}

.dashboard-content {
  padding-top: 2em;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.8rem;
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
}
