@use "./variables" as *;

.dashboard-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10%;
    gap: 1rem;

    .btn {
        width: 48%;
    }

    .active {
        background-color: $primary;
        color: #181706;
        font-weight: bold;
        border-color: $primary;
    }
}

.dashboard-content {
    padding-top: 2em;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.8rem;
    width: 100%;
    margin-bottom: 1rem;
}

.card {
    width: 48%;
    position: relative;

    .card-infos {
        margin-left: 0.5rem;
        margin-top: 0.2rem;

        h2 {
            margin: 0;
        }
    }

    .replace-card-picture,
    img {
        width: 100%;
        height: 7rem;
        border-radius: 10%;
        display: block;
    }

    img {
        object-fit: cover;
        box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
    }

    .replace-card-picture {
        background-color: $primary-light;
        box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
    }

    button {
        top: 0.25rem;
        right: 0.25rem;
    }

    button,
    .fa-user-group,
    .fa-lock {
        position: absolute;
        border: none;
        padding: 0.4rem;
        border-radius: 50%;
        // padding-inline: 0.25rem;
        // padding-block: 0.25rem;
        background-color: $background;
    }

    .fa-lock {
        top: 0.25rem;
        left: 0.25rem;
    }
    .fa-user-group {
        bottom: 3.25rem;
        left: 0.25rem;
    }
}

.new-card {
    border: 0.2rem solid $primary-light;
    border-radius: 10%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);

    .fa-plus {
        color: $primary-light;
    }
}
