@use "./variables" as *;

.dashboard-nav {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 0.25rem;
  border-radius: 0.5rem;
  background-color: $primary-200;
  box-sizing: border-box;
  padding: 0.25rem;
  width: 100%;
  font-size: 0.9em;

  .tab {
    width: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0;
    // color: rgba(51, 65, 85, 1);
    transition: all 0.3s ease-in-out;
  }

  .tab:hover {
    background-color: $primary-300;
    // color: $background;
    transition: all 0.3s ease-in-out;
    // font-weight: bold;
  }

  .active,
  .active:hover {
    background-color: $background;
    font-weight: 600;
    color: $text;
  }
}

.dashboard-content {
  padding-top: 2em;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.8rem;
  width: 100%;
  margin-bottom: 1rem;

  a {
    color: $text;
  }
}

@media screen and (min-width: 1024px) {
  .dashboard-nav {
    width: 70%;
    margin: auto;
  }
}
