@font-face {
    font-family: "Mulish";
    src: url("../assets/fonts/Mulish-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Mulish";
    src: url("../assets/fonts/Mulish-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Mulish";
    src: url("../assets/fonts/Mulish-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Philosopher";
    src: url("../assets/fonts/Philosopher-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Philosopher";
    src: url("../assets/fonts/Philosopher-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Philosopher";
    src: url("../assets/fonts/Philosopher-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
