@use "./variables" as *;

form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  width: 95%;

  label {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    color: $text-light;
  }

  fieldset {
    border: 1.5px solid $primary-300;
    background-color: $background-light;
    border-radius: 0.5rem;
    padding: 12px;

    &:focus {
      border-color: $primary;
    }
  }

  .form-step {
    display: none;
  }

  .form-step.active {
    display: block;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.8rem;
  }

  .picture-form {
    display: block;
    border-radius: 0.5rem;
    border: 1.5px solid $primary-300;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 9rem;
  }

  .picture-form:hover {
    filter: brightness(70%);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
  }

  .tag-input {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    cursor: text;
    align-items: center;
    width: 100%;
    min-height: 45px;
    padding: 12px;
    border-radius: 0.5rem;
    border: 1.5px solid $primary-300;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: $box-shadow-default;
    background-color: $background-light;
    z-index: 1;

    &:focus {
      border-color: $primary;
    }

    input {
      box-shadow: none;
      padding: 0;
      height: auto;
    }
  }

  .tag {
    background-color: $background-light;
    border-radius: 999px;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
  }

  .remove-btn {
    background: none;
    border: none;
    margin-left: 0.3rem;
    cursor: pointer;
    font-weight: bold;
    color: #555;
  }

  .tag-input-field {
    flex: 1;
    min-width: 120px;
    border: none;
    outline: none;
    font-size: 0.875rem;
    padding: 0.25rem;
    background-color: $background-light;
  }

  .friend-tag-list {
    ul {
      background-color: $background-light;
      padding: 1rem;
      border-radius: 0 0 0.5rem 0.5rem;
      box-shadow: $box-shadow-default;
      margin-top: -1.2rem;

      li {
        display: flex;
        gap: 0.8rem;
        align-items: center;
        .profile-picture {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 12px;
    border-radius: 0.5rem;
    border: 1.5px solid $primary-300;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: $box-shadow-default;
    background-color: $background-light;

    &:focus {
      border-color: $primary;
    }
  }

  input {
    height: 45px;
  }

  .input:hover {
    border: 2px solid $primary;
  }

  .input:active {
    transform: scale(0.95);
  }

  .input:focus {
    border: 2px solid $primary;
  }

  .step-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.single {
      justify-content: flex-end;
    }
  }

  .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .input-validation {
    position: relative;

    .input-info {
      z-index: 10;
      position: absolute;
      right: 1rem;
      top: 1.4rem;
      transform: translateY(-50%);
      pointer-events: auto;
    }

    input[type="date"] + .input-info {
      right: 2.5rem;
    }
  }

  .input-price {
    position: relative;
    .fa-euro-sign {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }
}
.valid {
  color: $valid;
}

.not-valid {
  color: $not-valid;
}

.oauth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  p {
    font-weight: bold;
    text-transform: uppercase;
  }
}

/* From Uiverse.io by Yaya12085 */
.switch {
  position: relative;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: $background-light;
  transition: all 0.3s ease;
  border-color: $primary;
}

.switch:checked {
  background-color: $primary;
}

.switch::before {
  position: absolute;
  content: "";
  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid $primary;
  border-radius: 9999px;
  background-color: $background;
  box-shadow: 0 3px 10px $primary;
  transition: all 0.3s ease;
}

.switch:hover::before {
  box-shadow: 0 0 0px 8px $primary;
}

.switch:checked:hover::before {
  box-shadow: 0 0 0px 8px $primary;
}

.switch:checked:before {
  transform: translateX(100%);
  border-color: $primary;
}

.password-validation {
  color: $text-light;
  font-size: small;
}

.react-datepicker {
  border-radius: 0.5rem;
  border: 1.5px solid $primary-300;
  box-shadow: $box-shadow-default;

  button {
    color: $text;
  }

  .react-datepicker__header {
    background-color: $background;
    border-bottom: 1px solid $primary-100;
  }

  .react-datepicker__year-dropdown {
    background-color: $background;
  }
}

@media screen and (min-width: 370px) {
  form {
    .picture-form {
      height: 10rem;
    }
  }
}

@media screen and (min-width: 400px) {
  form {
    .picture-form {
      height: 11rem;
    }
  }
}

@media screen and (min-width: 450px) {
  form {
    .picture-form {
      height: 13rem;
    }
  }
}

@media screen and (min-width: 520px) {
  form {
    .picture-form {
      height: 15rem;
    }
  }
}

@media screen and (min-width: 600px) {
  form {
    .picture-form {
      height: 18rem;
    }
  }
}

@media screen and (min-width: 700px) {
  .picture-desc {
    display: flex;
    flex-wrap: nowrap;

    gap: 0.8rem;

    .picture-area,
    .desc-area {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;
    }

    .picture-form,
    textarea {
      height: 12rem;
    }
  }
}

@media screen and (min-width: 850px) {
  .picture-desc {
    .picture-form,
    textarea {
      height: 15rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .picture-desc {
    .picture-form,
    textarea {
      height: 12rem;
    }
  }
}
