@use "./variables" as *;

/**************HEADER************/

header {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  padding-left: 2rem;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $mobile-nav-height;
  z-index: 10;
}

/**************FOOTER************/

footer {
  display: none;
}

/**************NAV************/

.header-right {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $mobile-nav-height;
  padding: 0 1rem;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.2);
  background-color: $background;

  span {
    display: none;
  }
}

.no-auth {
  display: none;
}

.nav-header-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  color: $text-light;
  a {
    color: $text-light;
  }

  .nav-active {
    color: $primary;

    .profile-picture {
      border: 2px solid $primary;
    }
  }

  .nav-button {
    cursor: pointer;
  }

  .notification-icon-wrapper {
    position: relative;
    display: inline-block;

    .notification-badge {
      position: absolute;
      top: -0.4rem;
      right: -0.8rem;
      background-color: $secondary;
      color: $background;
      font-size: 0.7rem;
      border-radius: 50%;
      padding: 5px;
      line-height: 1;
      font-weight: bold;
    }
  }
}

.nav-button {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile-picture {
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fa-solid {
    font-size: 1.4rem;
  }

  span {
    text-transform: uppercase;
    font-size: 0.6em;
    margin-top: 0.4rem;
  }
}

.notification-popup,
.search-bar-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav-mobile,
  .notification-link,
  .search-link {
    display: none;
  }

  footer,
  .notification-popup,
  .search-bar-desktop {
    display: flex;
  }
  .header-top {
    border-bottom: none;
  }

  footer,
  header {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-right {
    position: initial;
    box-shadow: none;
    width: 80%;
  }
}
