@use "./variables" as *;

.notification-item {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
    font-size: 0.9em;
    margin-bottom: 1rem;
    background-color: $background-light;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow-default;
    width: 98%;

    a {
        color: $text;
    }

    .profile-picture {
        width: 2.8rem;
        height: 2.8rem;
    }

    .notif-details {
        width: 100%;
        .notif-text {
            margin-bottom: 0.5rem;
        }
    }
}

@media screen and (min-width: 1024px) {
}
