@use "./variables" as *;

.profile-picture {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;

  .profile-details {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;

    h2 {
      font-size: 1.3em;
      margin: 0;
    }
  }

  .profile-numbers {
    display: flex;
    gap: 0.8rem;
  }
}

.edit-profile-picture,
.profile-top {
  .profile-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.edit-profile-picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column-reverse;
  align-items: center;

  small {
    font-weight: 800;
    font-size: 0.85em;
  }
}

.profile-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;

  .profile-infos {
    margin-bottom: 1.5rem;
    .birthday {
      font-weight: 800;
      margin-bottom: 0.5rem;
      .fa-solid {
        margin-right: 0.5rem;
      }
    }
  }

  .btn-friendship-status {
    margin-bottom: 1.5rem;
  }
}

.pending-list {
  width: 100%;
  li {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;

    .pending-details {
      width: 100%;

      .pending-text {
        margin-bottom: 0.5rem;
        line-height: 2em;
      }
    }
  }
}

.friend-list {
  width: 100%;
  li {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    div {
      display: flex;
      align-items: center;
      gap: 1rem;

      .profile-picture {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.friendship-buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.8rem;
}

@media screen and (min-width: 600px) {
  .profile-buttons {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 700px) {
  .profile-buttons {
    width: 60%;
  }
}

@media screen and (min-width: 800px) {
  .profile-buttons {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .profile-top,
  .profile-bottom {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }

  .profile-bottom {
    .profile-buttons {
      display: flex;
      gap: 0.8rem;
      width: 100%;

      .btn {
        width: 50%;
        margin: auto;
        white-space: nowrap;
      }

      .btn-account-desktop {
        display: flex;
      }
    }
  }
}
