$text: #181706;
$background: #fefdf9;
$background-deep: #f2f1ec;
$primary: #d3cb45;
$primary-light: #f5f3d5;
$primary-extra-light: #fcfaef;
$secondary: #84a7e2;
$secondary-light: #cfdcf0;
$secondary-extra-light: #e5ebf4;
$accent: #be83fd;
$accent-light: #f1f4f7;

$mobile-nav-height: 4rem;
