$text: #080b13;
$background: #f6f8fc;
$primary: #ff765a;
$primary-light: #ffbfb3;
$primary-extra-light: #ffeae5;
$secondary: #ffc65f;
$secondary-light: #ffe4b3;
$secondary-extra-light: #fff6e5;
$accent: #94e4e8;
$accent-light: #c0eff2;
$accent-extra-light: #eafafb;

$mobile-nav-height: 4rem;
