$text: #080b13;
$background: #fff;
$primary: #69a6fc;
$primary-dark: #223247;
$primary-light: #d7e3f5;
$secondary: #e3958c;
$accent: #dbd06d;
$valid: green;
$not-valid: red;
$mobile-nav-height: 4rem;
