@use "./variables" as *;

.wishlists {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.8rem;
}

.wishlist-card {
    width: 45%;
    position: relative;

    .wishlist-infos {
        margin-left: 0.5rem;
        margin-top: 0.2rem;

        h2 {
            margin: 0;
        }
    }

    .replace-wishlist-picture,
    img {
        width: 100%;
        height: 6rem;
        border-radius: 10%;
        display: block;
    }

    img {
        object-fit: cover;
        box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
    }

    .replace-wishlist-picture {
        background-color: $secondary-extra-light;
        box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
    }

    &.new-wishlist {
        border: 0.2rem solid $secondary-extra-light;
        border-radius: 10%;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);

        .fa-plus {
            color: $secondary-light;
        }
    }

    button {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        border: none;
        padding: 0.25rem;
        border-radius: 50%;
        padding-inline: 0.25rem;
        padding-block: 0.25rem;
    }
}
