@use "../../node_modules/normalize-scss/sass/normalize" as *;
@use "./variables" as *;
@use "./layout" as *;
@use "./fonts" as *;
@use "./home" as *;
@use "./wishlists" as *;
@import "@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: $background;
    margin: 0;
    font-family: "Mulish", sans-serif;
}

.main-content {
    padding-bottom: $mobile-nav-height;
    min-height: calc(100vh - 120px);
    overflow-y: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

a {
    color: $text;
    text-decoration: none;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: "Philosopher", serif;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1em;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0.5rem 1rem;
    background-color: $primary;
    color: $text;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: $primary-light;
}

.link {
    font-weight: bold;
}

form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 80%;
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
}
